#presentation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

#embed_container {
    width: 760px;
    height: 427px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 20px;
}

#loading_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    z-index: 10;
}

#options_container {
    width: 760px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

#pages_container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

#options_container a {
    display: flex;
    width: 60px;
    height: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#options_container button{
    width: 60px;
    font-size: 2vh;
}

#options_container a img {
    width: 50%;
}

#pages_container p {
    font-size: 2vh;
    width: 70px;
    text-align: center;
}