#nav_container {
    background-color: #013220;
    filter: brightness(1.5);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
}

#nav_container img {
    height: 80%;

}