#details_container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    
}

#details_container h2 {
    font-size: 5vh;
}

#details_container h3 {
    font-size: 4vh;
    margin: 0;
}

#details_container p {
    margin: 0;
    font-size: 2vh;
}

#details_container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #22B14C;
    box-sizing: border-box;
    width: 300px;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
}

.second_container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.second_container .content_container {
    height: 170px;
}

