:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #013220;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button, .button {
  background-color: #DC602E;
  cursor: pointer;
  border: none;
  padding: 1.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-radius: 3vh;
  font-size: 1.5vh;
  color: black;
  font-weight: 800;
}

button:hover, .button:hover {
  font-weight: 900;
  margin-bottom: 0.2vh;
}

button:disabled {
  filter: brightness(0.5);
  cursor: auto;
  margin-bottom: 0;
}



