#video_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

#video_container video {
    width: 760px;
    height: 427px;
    border-radius: 20px;
}