.Footer{
    background: #688E26;
    background: linear-gradient(180deg, rgb(0, 50, 32) 0%, rgb(239, 233, 174) 50%, rgb(242, 84, 45) 100%);
    font-family: "Bell MT", Arial, sans-serif;
    padding-right: 20px;
    padding-bottom: 20px;
}
.footerlogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footerdecorations{
    display: inline-block;
    width: 80px;
    height: 80px;
}