.Footer{
    background: #efe9ae;
    font-family: "Bell MT", Arial, sans-serif;
    padding-right: 20px;
    padding-bottom: 20px;
}
.footerlogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footerdecorations{
    display: inline-block;
    width: 80px;
    height: 80px;
}
